/AuthServer/obj/
/invProj/obj/
/ItemManagementService/obj/
/LocationManagementService/obj/
/Migrations/obj/
/Shared/obj/
/TagManagementService/obj/
/UserManagementService/obj/

/AuthServer/bin/
/invProj/bin/
/ItemManagementService/bin/
/LocationManagementService/bin/
/Migrations/bin/
/Shared/bin/
/TagManagementService/bin/
/UserManagementService/bin/